/* =========================
   Global
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    background: #F5F3F8;
    overflow-x: hidden;
}

/* =========================
   Back Button
========================= */

.back-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    border: 1px solid #3150A0;
    border-radius: 30px;
    padding: 10px 20px;
    color: #3150A0;
    font-size: 14px;
    font-weight: 500;
    transition: .3s ease;
}

.back-link:hover {
    background: #3150A0;
    color: #fff;
}




/* =========================
   Left content
========================= */


.step-circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;

    /* 3 of 4 steps = 75% */
    background: conic-gradient(
        #3150A0 270deg,
        #EFEFEF 270deg
    );

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step-circle::before {
    content: "";
    position: absolute;
    width: 71px;
    height: 71px;
    background: #fff;
    border-radius: 50%;
}

.step-content {
    position: relative;
    z-index: 1;
    text-align: center;
}

.step-text {
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #111;
    line-height: 1;
}

.step-content p {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    color: #111;
    line-height: 1.2;
}

/* Labels */
.form-label{
    font-size: 14px;
    font-weight: 500;
    color: #374151;
    margin-bottom: 8px;
}

/* Input & Select */
.form-custom{
    height: 50px;
    border: 1px solid #D9DDE8;
    border-radius: 12px;
    padding: 12px 16px;
    font-size: 14px;
    color: #111827;
    background-color: #fff;
    box-shadow: none;
}

/* Placeholder */
.form-custom::placeholder{
    color: #9CA3AF;
}

/* Focus */
.form-custom:focus{
    border-color: #3150A0;
    box-shadow: 0 0 0 0.15rem rgba(49, 80, 160, 0.15);
}

/* Select Arrow */
.form-select.form-custom{
    cursor: pointer;
}

/* Disabled First Option */
.form-select option:first-child{
    color: #9CA3AF;
}




.custom-radio .form-check-input{
    border: 1px solid #3150A0;
    cursor: pointer;
}

.custom-radio .form-check-input:checked{
    background-color: #3150A0;
    border-color: #3150A0;
}

.custom-radio .form-check-label{
    font-size: 14px;
    font-weight: 500;
    color: #1f2937;
    cursor: pointer;
}

.custom-label{
    font-size: 14px;
    font-weight: 600;
    color: #111827;
}

.continue-btn {
    margin-top: 20px;
    display: inline-block;
    min-width: 130px;
    text-align: center;
    padding: 10px 30px;
    border: 1px solid #3150A0;
    border-radius: 30px;
    background: #3150A0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s ease;
    margin-bottom: 10px;
}

.continue-btn:hover {
    background: #fff;
    color: #3150A0;
}


/* =========================
   Right Image
========================= */

.profile-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 24px;


}




/* =========================
   Footer
========================= */

footer {
    background: #fff;
    margin-top: 20px;
    padding: 15px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.footer-content p {
    margin-bottom: 0;
    font-size: 14px;
    color: #4b5563;
}

.footer-content .right {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #2CAC63;
    font-size: 14px;
}