/* =========================
   Global
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Plus Jakarta Sans', sans-serif;
}

body{
    background:#F5F3F8;
    overflow-x:hidden;
}

/* =========================
   Back Button
========================= */


.step-circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;

    /* 4 of 4 steps = 100% */
    background: #3150A0;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step-circle::before {
    content: "";
    position: absolute;
    width: 71px;
    height: 71px;
    background: #fff;
    border-radius: 50%;
}

.step-content {
    position: relative;
    z-index: 1;
    text-align: center;
}

.step-text {
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #111;
    line-height: 1;
}

.step-content p {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    color: #111;
    line-height: 1.2;
}


.back-link{
    display:inline-flex;
    align-items:center;
    text-decoration:none;
    border:1px solid #3150A0;
    border-radius:30px;
    padding:10px 20px;
    color:#3150A0;
    font-size:14px;
    font-weight:500;
    transition:.3s ease;
}

.back-link:hover{
    background:#3150A0;
    color:#fff;
}




.main-card{
    background:#f8f8f8;
    border-radius:24px;
    padding:28px;
}




.profile-img-box {
    width: 70px;
    height: 70px;
}

.profile-img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.info-card h6 {
    font-size: 13px;
   
}

.info-card p,
.info-card small {
    font-size: 12px;
}

.skill-tag{
    border:1px solid #3150A0;
    color:#3150A0;
    padding:6px 14px;
    border-radius:30px;
    font-size:12px;
    background:#fff;
}

.percent {
color: #3150A0;
font-size: 24px;
font-weight: 700
}


/* Checkbox Wrapper */
.form-check{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

/* Checkbox */
.form-check-input{
    width: 18px;
    height: 18px;
    border: 2px solid #3150A0;
    cursor: pointer;
    margin-top: 2px;
}

.form-check-input:checked{
    background-color: #3150A0;
    border-color: #3150A0;
}

.form-check-input:focus{
    box-shadow: 0 0 0 0.15rem rgba(49, 80, 160, 0.15);
}

/* Label */
.form-check-label{
    font-size: 14px;
    font-weight: 400;
    color: black;
    line-height: 1.6;
}

/* Links */
.form-check-label a{
    color: #3150A0;
    font-weight: 500;
    text-decoration: underline;
    transition: all 0.3s ease;
}

.form-check-label a:hover{
    color: #1F3D8A;
    
}

.complete-btn{
    border: none;
}

.complete-btn a{
    display:inline-block;
    background:#3150A0;
    color:#fff;
    border:1px solid #3150A0;
    border-radius:30px;
    padding:12px 14px;
    font-size:14px;
    text-decoration:none;
    transition:all 0.3s ease;
}

.complete-btn a:hover{
    background:#fff;
    color:#3150A0;
    border:1px solid #3150A0;
}
.side-img{
    border-radius:24px;
    object-fit:cover;
    height:700px;
    
   
}



/* =========================
   Footer
========================= */

footer{
    background:#fff;
    margin-top:20px;
    padding:15px 0;
}

.footer-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 80px;
}

.footer-content p{
    margin-bottom:0;
    font-size:14px;
    color:#4b5563;
}

.footer-content .right{
    display:flex;
    align-items:center;
    gap:6px;
    color:#2CAC63;
    font-size:14px;
}

