* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
    overflow-x: hidden;

}


.register-section{
    background:#F4F1F7;
}

.register-card {
    background:#fff;
    height: 650px;
    border-radius:20px;
}

.register-card h3{
    font-size: 24px;
    font-weight: 700;
}





.register small{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Helvetica Neue', sans-serif;

}

.register a{
   
      background: #fff;
    border-radius: 30px;
    border: 1px solid #3150A0;
    color: #3150A0;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 20px;
    text-decoration: none;


}
.register a:hover{
  
     background: #3150A0;
    border-radius: 30px;
    border: 1px solid #3150A0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 20px;
    text-decoration: none;
} 

.file h3{
    font-size: 24px;
    font-weight: 500;
}

.file p{
     font-size: 14px;
    font-weight: 400;
}

.manual-content h3{
     font-size: 24px;
    font-weight: 500;
}
.manual-content p{
     font-size: 14px;
    font-weight: 400;
}


.upload-box {
    border:2px dashed #3150A0;
    border-radius:20px;
    background:#fff;
    cursor:pointer;
    transition:.3s;
    padding: 10px;
}

.upload-box h6{
 font-size: 16px;
 font-weight: 500;
 color: #3150A0;
}

.upload-box small{
    font-size: 14px;
    font-weight: 500;
    color: black;
}





.or-divider{
    position: relative;
    text-align: center;
    margin: 0 20px;
}

.or-divider::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 45%;
    height: 1px;
    background: #ddd;
}

.or-divider::after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 45%;
    height: 1px;
    background: #ddd;
}

.or-divider span{
    background: #fff;
    padding: 0 12px;
    position: relative;
    z-index: 1;
    font-size: 14px;
}



.profile-btn{
    border: 1px solid #3150A0;
    color: #3150A0;
    background-color: #fff;
    border-radius: 20px;
}
.profile-btn:hover{
    border: 1px solid #fff;
    color: #3150A0;
    background-color: #3150A0;
    border-radius: 20px;
}

.profile-btn a{
    color: #3150A0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.profile-btn a:hover{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}


.register-image{
    object-fit:cover;
    height: 650px;
}

 /*----------footer section style---------*/



footer{
     height:70px;
     margin: 20px 0;
     
}


.footer-content .right{
   color: #2CAC63;
    
}

.footer-content {
    display:flex;
    justify-content: space-between;
     padding:0 120px ;
}
