

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
    overflow-x: hidden;

}

body {
    padding-top: 100px; 
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 9999;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}


.card{
    max-width:450px;
    margin:auto;
}

h2{
    font-size:clamp(28px,3vw,38px);
}

.btn-prev{
    border:1px solid #3150A0;
    color:#3150A0;
    min-width:120px;
}

.btn-prev:hover{
    background:#3150A0;
    color:#fff;
}

.btn-next{
    background:#3150A0;
    border:1px solid #3150A0;
    color:#fff;
    min-width:120px;
}

.btn-next:hover{
    background:#fff ;
    border-color:#24408A;
    color:#3150A0;
}


footer{
     height:20px;
     margin: 20px 0;
     
}


.footer-content p{
    padding-left: 120px;
}
