/*----footer style------*/



.footer-top {
    padding: 50px 0;
}

.footer-logo img {
    max-width: 110px;
    margin-bottom: 20px;
}

.footer-logo p {
    font-size: 13px;
    color: #222;
    max-width: 220px; 
    line-height: 1.7;
}

.footer-links h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #000;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 12px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #222;
    font-size: 14px;
    transition: 0.3s;
}

.footer-links ul li a:hover {
    color: #3150A0;
}

.footer-bottom {
    border-top: 1px solid #d8d8d8;
    padding: 18px 0;
}

.footer-bottom p {
    margin: 0;
    font-size: 13px;
    color: #222;
}
