<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHIR Jobs Navbar</title>

   <!----------- link ----------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="./navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <!--------for animation------>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-expand-lg bg-white py-3 border-bottom navbar-custom">

        <div class="container">

            <!-- Logo -->
            <a class="navbar-brand ml-3" href="#">
                <img src="../img/Group 134.png" alt="Logo" class="d-inline-block align-text-top ">
            </a>

            <!-- Mobile Toggle -->
            <button class="navbar-toggler border-0 shadow-none"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainNavbar">

                <span class="navbar-toggler-icon"></span>

            </button>

            <!-- Menu -->
            <div class="collapse navbar-collapse justify-content-end"
                id="mainNavbar">

                <ul class="navbar-nav align-items-lg-center gap-lg-4">

                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            Jobs
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Companies
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Services
                        </a>
                    </li>

                    <!-- Divider -->
                    <li class="d-none d-lg-block">
                        <div class="vr"></div>
                    </li>

                    <!-- User -->
                    <li class="nav-item">

                        <a href="#"
                            class="nav-link d-flex align-items-center gap-2">

                            <span>Aditi</span>

                            <img src="../img/Ellipse 4.png"
                                alt="Profile"
                                width="28"
                                height="28"
                                class="rounded-circle">

                        </a>

                    </li>

                    <!-- Menu Icon -->
                    <li class="nav-item">
<a href="#" class="menu-btn">
    <img src="../img/Group 1000011505.svg" alt="" width="35" height="35">
</a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>