 
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
   

}
body{
     background: #f8f8f8;
      overflow-x: hidden;

}

 
 
 
 /* ===============quick action style ===============*/

.quick-actions-section{
    background: #fff;
    padding: 15px 0;
    overflow: hidden;
}

.quick-heading{
    padding-top: 5px;
}

 .slide{
        height: 34px;
    align-items: center;
    text-align: center;
    
}

.vr{
    height: 30px;
}

#carouselExample{
    position: relative;
    padding: 0 50px;
    width: 950px;
}

.action-link{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #111;
    font-size: 14px;
    white-space: nowrap;
    transition: 0.3s;
    padding-top: 5px;
}

.action-link:hover{
    color: #3150A0;
}

.action-link img{
    width: 24px;
    height: 24px;
    object-fit: contain;
}

/* Previous & Next Buttons */
.carousel-control-prev,
.carousel-control-next{
    width: 34px;
    height: 34px;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border: 1px solid #3150A0;
    border-radius: 50%;
    opacity: 1;
}

.carousel-control-prev{
    left: 0;
}

.carousel-control-next{
    right: 0;
}

/* Blue Icons */
.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-size: 14px;
    filter: invert(28%) sepia(45%) saturate(1250%) hue-rotate(205deg) brightness(90%) contrast(90%);
}

/* Hover */
.carousel-control-prev:hover,
.carousel-control-next:hover{
    background: #3150A0;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon{
    filter: brightness(0) invert(1);
}

@media (max-width: 768px){

    #carouselExample{
        padding: 0 40px;
    }

    .action-link{
        font-size: 13px;
    }

    .carousel-control-prev,
    .carousel-control-next{
        width: 30px;
        height: 30px;
    }
}


.update-btn{
    background:#3150A0;
    color:#fff;
    font-size:13px;
    padding:10px 24px;
}

.update-btn:hover{
    background:#24408a;
    color:#fff;
}

.close-btn{
    color:black;
    font-size:14px;
}



/*============ choose template ===========*/

.back-link{
    text-decoration:none;
    color:#111;
    display:flex;
    align-items:center;
    gap:10px;
    font-size:16px;
    font-weight:500;
}

.next-btn{
    background:#3150A0;
    border:none;
    color:#fff;
    padding:10px 20px;
}
 h2{
    color: #3150A0;
}

.role-btn{
    background:#fff;
    border:1px solid #D9D9D9;
    border-radius:40px;
    padding:12px 22px;
    font-size:18px;
    transition:.3s;
}

.role-btn:hover{
    background:#F7F7F7;
}

.custom-select{
    height:60px;
    border-radius:12px;
    border:1px solid #D9D9D9;
    padding-left:20px;
    font-size:18px;
    box-shadow:none !important;
}

.custom-select:focus{
    border-color:#D9D9D9;
    box-shadow:none;
}